@page
@model Lab3_AspPageWebApplication.Pages.Universities.DeleteModel
@{
}

<div class="alert alert-danger">
    Are You Sure You Want to Delete @Model.University.Name
</div>

<form method="post">
    <button type="submit" class="btn btn-danger"> Yes !</button>
    <a asp-page="./List" class="btn btn-primary"> Cancel </a>
</form>